@using AutoClub.ViewModels;
@model AccVehicleVM;
@{
    ViewData["Title"] = "UserVehicles";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<!--  BEGIN CONTENT AREA  -->
<div class="layout-px-spacing">
    <div class="row layout-top-spacing">
        <div class="col-xl-12 col-lg-12 col-sm-12  layout-spacing">
            <div class="widget-content widget-content-area br-6">
                <div class="widget-header">
                    <div class="row">
                        <div class="col-xl-12 col-md-12 col-sm-12 col-12 mb-4">
                            <h4>Vehicle / @Model.Vehicles.Count()</h4>
                        </div>
                    </div>
                </div>
                <div class="table-responsive mb-4 mt-4">
                    <table id="zero-config" class="table table-hover" style="width:100%">
                        <thead>
                            <tr>
                                <th class="text-center">ID</th>
                                <th class="text-center">Image</th>
                                <th class="text-center">Make</th>
                                <th class="text-center">Model</th>
                                <th class="text-center">Email</th>
                                <th class="no-content text-center">Status</th>
                                <th class="no-content text-center">Details</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var vehicle in Model.Vehicles)
                            {
                                <tr>
                                    <td>
                                        @vehicle.Id
                                    </td>
                                    <td class="text-center">
                                        @{int imgCount = 0;}
                                        @foreach (var image in Model.VehicleImages)
                                        {
                                            if (image.VehicleId == vehicle.Id && imgCount == 0)
                                            {
                                                <img src="~/image/Items/@image.Name" width="100" />
                                                imgCount += 1;
                                            }
                                        }
                                    </td>
                                    <td class="text-center">
                                        @foreach (var make in Model.Makes)
                                        {
                                            if (make.Id == vehicle.VehicleModel.MakeId)
                                            {
                                                @make.Name
                                            }
                                        }
                                    </td>
                                    <td class="text-center">
                                        @foreach (var vmodel in Model.VehicleModels)
                                        {
                                            if (vmodel.Id == vehicle.VehicleModelId)
                                            {
                                                @vmodel.Name
                                            }
                                        }
                                    </td>
                                    <td class="text-center">
                                        @vehicle.Email
                                    </td>
                                    <td>
                                        @if (vehicle.Blocked)
                                        {
                                            <span class="badge outline-badge-danger shadow-none">Pending</span>
                                        }
                                        else
                                        {
                                            <span class=" shadow-none badge outline-badge-primary">Approved</span>
                                        }
                                    </td>
                                    <td class="text-center">
                                        <a asp-controller="User" asp-action="UserVehicleDetails" asp-route-id="@vehicle.Id" class="btn btn-outline-success  btn-block mb-2"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-info"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="16" x2="12" y2="12"></line><line x1="12" y1="8" x2="12.01" y2="8"></line></svg></a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>ID</th>
                                <th>Image</th>
                                <th>Make</th>
                                <th>Model</th>
                                <th>Email</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!--  END CONTENT AREA  -->
@section Scripts {
    <script src="~/admin/plugins/table/datatable/datatables.js"></script>
    <script>
        $('#zero-config').DataTable({
            "oLanguage": {
                "oPaginate": { "sPrevious": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-left"><line x1="19" y1="12" x2="5" y2="12"></line><polyline points="12 19 5 12 12 5"></polyline></svg>', "sNext": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>' },
                "sInfo": "Showing page _PAGE_ of _PAGES_",
                "sSearch": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>',
                "sSearchPlaceholder": "Search...",
                "sLengthMenu": "Results :  _MENU_",
            },
            "stripeClasses": [],
            "lengthMenu": [2, 10, 20, 50],
            "pageLength": 10
        });
    </script>
}